$themeColor: #a4c4b5;
$themeBgColor: #eeeeee;
$white: #ffffff;
$black: #000000;
$whiteCard: #f0f8f8;
$gray: #717775;
$grayWhite: #acb1b0;
$buttonLinearColor: linear-gradient(
	90deg,
	rgba(2, 0, 36, 1) 0%,
	rgba(9, 121, 116, 1) 0%,
	rgba(59, 237, 208, 1) 100%
);
$navColor: #606266;
$toolColor: #dfe3e2;
$activeColor: #c9f1df;
$navBorderColor: #b4e3cc;
$navColor: #436355;
$navActiveColor: #b8eed1;
$nprogressColor: linear-gradient(25deg, #29c2d0, #86b4be, #b4a5ac, #d7939a);
