@import './_variable';

#nprogress .bar {
	height: 5px !important;
	background: $nprogressColor !important;
}

.el-tag {
	color: $white !important;
	// background-color: var(--theme-tag-color) !important;
	border-radius: 8px !important;
	display: inline-block;
	font-size: 16px !important;
	padding: 10px 15px !important;
	font-family: 'Courier New', Courier, monospace;
}

.el-check-tag.is-checked {
	background-color: var(--theme-nav-active-color) !important;
	color: #ffffff !important;
}

.el-card {
	border-radius: 20px !important;
	background: var(--card-reset-bg) !important;
}

.example-showcase .el-dropdown-link {
	color: $themeColor;
	display: flex;
	align-items: center;
}

.el-skeleton {
	display: flex;
	justify-content: center;
	align-items: center;
}
